/* Hero Section */
.SHome{
    background-image: url('../src/assets/images/empy-room.png');
      
}
.Shero_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 150px;
}
.Shero_h1_p > h1{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 80px;
    color: #0F2F66;
    margin-bottom: 48px;
}
.Shero__button{
    padding: 0.6rem 6rem;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}
.Shero__container1 > img{
    height: 2.5rem;
    
}
/* End of Hero Section */
/* Home Feature Section */
.SFeature{
    background-color:#ECF4FF;;
}
.SFeature__container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 55px;
    padding-bottom: 105px;
}
.SFeature__container-2 > h1{
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 84px;
    color: #0F2F66;
    padding-bottom: 65px;
}
.SFeature__container-main{
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;  
}
.SFeature__container-minor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.SFeature__container-mini1{
    height: 90px;
}
.SFeature__container-mini2{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #0F2F66;
}
.SFeature__container-mini0{
    padding: 1.1rem 3rem
}
.SFeature__container-mini3{
    font-style: normal;
    font-weight: normal;
     line-height: 20px;
    text-align: center;
    color: #0F2F66;
    padding: 1.05rem 2.1rem;
}
/* End of Feature Section */
