/* Phone screen */

@media only screen and (max-width:960px) {

body{
    min-height: 100vh;
    width: 100%;
}
.container{
    margin: 0 auto;
}
.header{
    padding: 0.3rem;
    /* position: fixed; */
    
}
/* Header Section */
 /* .header_p a > p{
    list-style: none;
    position: absolute;
    background-color:rgb(31, 30, 30);
    top: 0;
    left: 0;
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    width: 100vw;
    height: 100vh;  
    color: white;  
    overflow-x: hidden;
    z-index: 1;
}
.header_p a > p > span{
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: .05rem;
    font-weight: 500;
    padding: 20px;
}
.hamburger{
    margin-left:2.5rem;
    top: 0;
    right: -99px;
    width: 60px;
    height: 60px;
    border: 3px solid #fff;
    display: inline-block;
    z-index: 100;
    position: relative;
    border-radius: 50%;  
    align-items: center;
    display: center;
    justify-content: center;
    cursor: pointer;  
}
.bar{
    width: 30px;
    height: 2px;
    position: relative;
    background-color: white;
}
.bar::after,
.bar::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    transition-property: top, bottom;
    background-color: white;
    transition: .3s ease;
}
.bar::after{
    top: 8px;
}
.bar::before{
    bottom: 8px;

} */
.header_p{
    display: flex;    
}
.header_img{
   height:50px;  
}
.header_p_1{
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 12px;
    color: #0F2F66;
    padding-right: 14px;
}
.header_p_2{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    color: #224E9C;
    padding-right: 16px;
}
.header_p_3{
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #224E9C;
}

/* End of Header Section */
/* Hero Section */
.left__rectangle{
    position: relative;
    background-color: rgba(255, 255, 255, 0.9); ;
    z-index: 1;
}

.left__rectangle::after{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;    
    background-image: url('../src/assets/images/latest.png');
    background-repeat:no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;   
}
.Hero{
    width: 100%;
    padding-bottom: -20px;
}
.hero_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;    
}
.hero_img > img{
    height: 0;
    width: 0;
}
.hero_h1_p{
    display: flex;
    align-items: center;   
    text-align: center;   
    flex-direction: column;    
    margin-top: -40px;
}
.hero_h1_p > h1{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #0F2F66;
    margin-bottom: 3px;
}
.hero_h1_p p:nth-child(2){
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #3B7980;
    margin-bottom: 3px;
}
.hero_h1_p p:nth-child(3){
    font-style: normal;
    font-weight: normal;     
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    color: #3B7980;
    margin-bottom: 12px;
}
.hero__container-button{
    background: #005CE6;
    border-radius: 10px;
    padding: 9px 1.5rem;
    border: none;
    color: #fff;
    margin-bottom:10px;
    font-size: 12px;
    line-height: 16px;
}
.hero__container1 img{       
    height: 1.8rem;
}
.hero__container1{
    margin-bottom:-3rem;
}
.Shero__container1 > img{
    height: 2.5rem;
}
.Shero_h1_p > h1{
    font-size: 26px;
    line-height: 35px;
    font-weight: bold;
    padding-bottom: 30px;
}
.Shero_img > img{
    height: 0;
    width: 0;
    padding-bottom:0;
}
.SHome{
    background-image: url('../src/assets/images/empy-room.png');
    background-size:cover;    
    background-repeat:no-repeat;
    
}
.Shero_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:0px;
   
}
.SFeature__container-2 > h1{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #0F2F66;
}
.hero__container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;    
}
.SFeature{
    padding-top:30px;
}
.Shero__button{
    background: #005CE6;
    border-radius: 10px;
    padding: 9px 2.5rem;
    border: none;
    color: #fff;
    margin-bottom:24px;
    font-size: 15px;
    line-height: 32px;
}
.SFeature__container-1{
    padding-bottom: 5px;
}
.SFeature__container-minor{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.SFeature__container-main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin-top: -30px;
}
/* End of Hero Section */
/*Feature Section */
.feature{
    padding-top:26px 0px;    
    background: #ECF4FF;
}
.set_features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   

}
.feature_h1 > h1{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #0F2F66;
}
.features_card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding:1rem;
}
.features_card_h1{
    font-style: normal;
    font-weight: bold;    
    color: #0F2F66;    
    padding-right: 30px;

}
.feature__1 > img{
    height: 60px;
}
.features_card_p{     
    font-style: normal;
    font-weight: normal;    
    color: #0F2F66;
    padding-right: 30px;
}
.SFeature__container-1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding:1rem;
    
}

/* End Of Feature Section */
/* Apartment Section */
.apartment{
    padding: 24px 0;
}
.apartment_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.SApartment__container-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:-60px;
}
.apply__new{
    margin-top: -120px;
}
.apartment_1 > h1{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    color: #0F2F66;
    padding-bottom: 0;
}
.set__apartment_senior{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin-top: -80px;  
}
.SApartment__container-5 > img{
    height: 0px;    
}
.SApartment__container-5{
    height: 90px;
}
.apply__late{
    margin-top: -150px;
}
.new{
    font-style: normal;
    font-weight: bold;
    font-size: 28px !important;
    line-height: 38px !important;
    text-align: center;
    color: #0F2F66;
   
}
.set__apartment_group > img{
    
    }
.set__apartment_junior > img{
    height: 0;
}
.set__apartment_group, h1, p{
    text-align: center;
}
/* End of Apartment Section */
/* LandLord Section */
.landlord_img > img{
    width: 150.53px;
    height: 200px;
    padding-top: 20px;
    
}
.landlord_h1_p > h1{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #0F2F66;;
}
.landlord_h1_p > button{
    background: #005CE6;
    border-radius: 10px;
    padding: 5px 25px;
    margin-left: 35px;
    font-style: normal;    
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    border: none;
    
}
.landlord_h1_p > p{
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;    
    color: #3B7980;
    margin-bottom:0;
}

/* End of Landlord Section */
/* Newletter */
.letter_h1_1{    
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;    
    text-align: center;    
    color: #0F2F66;
}
.letter_button > button {
    background: #005CE6;
    border-radius: 10px 10px 10px 0px;
    padding:8px 60px;
    margin: 2rem;
    font-size: 1rem;
    border-style: none;    
    margin-bottom: 70px;    
    border-bottom-left-radius: 0px;
}
.letter_p_2 > p{
    padding-bottom: 1.5rem;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #0F2F66;
}
.letter_p_2 > img{
    padding-bottom: 4rem;
    height: 100px;
}
.letter_p_3 > p{
    padding-bottom: 2rem;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #0F2F66;
}
.fcmb{
    height: 3rem;
}
.letter_h1_1 > h1{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
/* End of NewsLetter section */
/* footer Section */
.footer_c p:nth-child(2){
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #0F2F66;
    padding-bottom: 35px;
}
.footer_c p:nth-child(3){
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 18px;
    color: #0F2F66;    
}
.footer_img > img{   
    padding-bottom:30px;
    height: 60px;
}
/* End of Footer Section */
}
/* End of Phone of Screen */